:root {

  --bg-main: #000000;
  --bg-card: #181818;

  --accent: #ff3d00;

  --text-main: #ffffff;

}

.titlebar {
  height: 40px;
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

